extends ../base
include ../util/form

block content
  .fancy-title
    .directive Register for
    .app-name Breakfast
  .form
    form(action='/create-user/', method='POST')
      for field in fields
        +renderInput(field)
      input(type='submit')

block css
  link(href='/css/entry-page.css', rel='stylesheet')
