extends ../base

block content
  form(action='/register/', method='POST')
    input(type='hidden', name='_csrf', value='#{ csrfToken }')
    input(type='text', name='email', id='email', placeholder='Email')
    input(type='submit')
