extends ../base
include ../util/form

block content
  form.register-form(action='/register/', method='POST')
    for field in fields
      +renderInput(field)
    span @
    select#domains
      for email in validEmailDomains
        option(val='#{ email }')  #{ email }
    input(type='submit')

block js
  script(src='/js/register.js')
