extends ../entry-page
include ../util/form

block content
  .fancy-title
    .directive Register for
    .app-name Breakfast

  .blurbs
    p Input your email below by specifying a username and a domain of one of the Gannett Markets.
    p This will generate an email containing the necessary steps to complete your registration.
    p Don't see your domain here? Email #[a(href='mailto:rwilliams@michigan.com') Reid Williams] to get it added

  .register-form-container
    form.register-form(action='/register/', method='POST')
      for field in fields
        +renderInput(field)
      #domains
      .submit
        input(type='submit', value='Submit' id='submit')
        #success-text

block js
  script(src='/js/register.js')

block css
  link(href='/css/register.css', rel='stylesheet')
