@import 'bourbon';
@import 'neat';

$body-background: white;

$primary-color: #40912F;
$secondary-color: #40867C;
$danger-color: #A83641;

$button-font-size: 30px;
$button-line-height: $button-font-size * 2;
$input-font-size: 20px;
$input-line-height: $input-font-size * 2;

$picker-padding: 30px;

@mixin transition($string) {
  transition: $string;
  -o-transition: $string;
  -moz-transition: $string;
  -webkit-transition: $string;
}

@mixin button($color: $primary-color) {
  text-align: center;
  color: $color;
  border: 1px solid $color;
  cursor: pointer;
  @include transition(all 250ms ease-in);

  &.active, &:hover {
    background: $color;
    color: white;
  }
}

@mixin close-button() {
  color: $danger-color;
  @include transition(all 250ms ease-in);
  cursor: pointer;

  &:hover {
    color: $body-background;
    background: $danger-color;
  }
}

@mixin picker-open() {
  width: 50%;
  @include button($secondary-color);
  margin: 0 auto;
  font-size: 15px;
  line-height: 30px;
  height: 100%;
  padding: 10px;
}

body {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  background: $body-background;
}

.pic-editor {
  width: 95%;
  margin: 0 auto;
  display: block;
  position: relative;

  .image-container {
    @include span-columns(8);
    margin-right: 0;
  }
  .options-container {
    @include span-columns(4);
    position: relative;
  }

  @media (max-width: 800px) {
    .image-container, .controls-container {
      @include span-columns(12);
    }
  }
}

.content-type-selector {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  height: $button-line-height;

  .content-type {
    @include span-columns(4);
    @include button($primary-color);
    font-size: $button-font-size;
    line-height: $button-line-height;
    text-transform: uppercase;

    &.active {
      @include button($primary-color)
    }
  }
}

.image {
  height: 650px;
  width: 650px;
  margin: 0 auto;

  canvas {
    border: 1px solid black;
  }
}

.controls-container {
  .content-type-selector {
    margin-bottom: 40px;
  }


  .list-inputs {
    .list-input {
      @include outer-container;

      input {
        @include span-columns(11);
      }

      .remove-list-item {
        @include span-columns(1);
        @include close-button();
        line-height: $input-line-height;
        text-align: center;
        height: $input-line-height;
        margin: 10px 0;
      }
    }

    .add-item {
      font-size: 20px;
      line-height: 40px;
      width: 50%;
      background: $primary-color;
      text-align: center;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      margin: 10px auto;
      @include transition(all 250ms ease-in);

      &:hover {
        background: darken($primary-color, 20%);
      }
    }
  }
}

.section-title {
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  margin: 10px 0px;
  color: $secondary-color;
  text-transform: uppercase;
}

.input-title {
  text-transform: uppercase;
  color: $primary-color;
  font-size: 15px;
  line-height: 30px;
}

/** Text input stuff **/
.text-rendering {
  width: 100%;

  input {
    background: $body-background;
    border: none;
    border-bottom: 1px solid grey;
    outline: 0;
    font-size: $input-font-size;
    line-height: $input-line-height;
    width: 100%;
    margin: 10px auto;
  }

}


/** Control Stuff **/
.control {
  display: block;
  width: 100%;

  &.background {
    input {
      display: none;
    }
  }

}

.input-container {
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  margin: 5px 0px;
  height: 50px;

  &.hidden {
    display: none;
  }

  .label {
    display: inline-block;
    @include span-columns(3);
    text-align: center;

  }

  .input {
    @include span-columns(9);
    display: inline-block;
    text-align: center;

    & > input {
      width: 100%;
    }
  }
}

.picker {
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center;

  .picker-open {
    @include picker-open();
  }

  .picker-container {
    position: absolute;
    background: $secondary-color;
    padding: $picker-padding;
    z-index: 1000;

    &.hide {
      display: none;
    }

    .picker-close {
      @include close-button();
      position: absolute;
      top: 0;
      right: 0;
      line-height: $picker-padding;
      font-size: $picker-padding * .5;
      color: white;
      padding: 5px;
    }
  }
}

.file-upload {
  @include picker-open();
}

.ratio-options {
  width: 100%;

  .aspect-ratio {
    @include button($secondary-color);
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-right: 0;
    width: 50%;
    display: inline-block;
    float: left;


  }
}

.select {
  width: 100%;

  &.show {
    .current-selection {
      &:after {
        @include transform(rotate(0deg));
      }
    }
  }

  .current-selection {
    width: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    border-bottom: 1px solid $secondary-color;
    color: $secondary-color;
    cursor: pointer;

    &:after {
      content: '^';
      position: absolute;
      right: 0;
      @include transform(rotate(180deg));
      @include transition(all 250ms linear);
    }
  }

  .options {
    width: 100%;
    position: absolute;
    text-align: center;
    max-height: 30px * 5; // 5 max height;
    overflow-y: auto;
    margin-top: 10px;
    background: white;
    border: 1px solid $secondary-color;

    .option {
      font-size: 20px;
      line-height: 30px;
      color: $secondary-color;
      @include transition(all 250ms ease-in);
      cursor: pointer;

      &:hover, &.selected {
        background: $secondary-color;
        color: white;
      }
    }
  }
}

.save {
  margin-top: 30px;
}
.save-image {
  background: $primary-color;
  color: white;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  width: 100%;
  margin: 10px 0px;
  @include transition(all 250ms ease-in);
  cursor: pointer;

  &:hover {
    background: darken($primary-color, 10%);
  }
}
