@import 'bourbon';
@import 'neat';

body {
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

.pic-editor {
  @include outer-container;

  .image-container {
    @include span-columns(8);
  }
  .controls-container {
    @include span-columns(4);
  }

  @media (max-width: 1000px) {
    .image-container, .controls-container {
      @include span-columns(12);
    }
  }
}

.content-type-selector {
  @include outer-container;

  .content-type {
    @include span-columns(4);
    text-align: center;
    cursor: pointer;
    background: #40912F;
    color: white;
  }
}

.image {
  height: 650px;
  width: 650px;
  margin: 0 auto;
  background: white;

  canvas {
    border: 1px solid black;
  }
}

.controls-container {
  .content-type-selector {
    margin-bottom: 40px;
  }


  .list-inputs {
    .list-input {
      @include outer-container;

      input {
        @include span-columns(10);
      }
      .remove-list-item {
        @include span-columns(2);
      }
    }
  }
}
