head
  include ./util/meta

  block title
    title Breakfast

  block css
    link(href='/css/base.css', rel='stylesheet')
body
  include ./util/navbar

  block messages
    if messages
      ol.flash-messages
        for message in messages
          li.message #{message}
  block content

  block js
