extends ./base

block title
  title Breakfast

block css
  link(href='/css/breakfast.css', rel='stylesheet')

block navbar
  include ./util/navbar

block content
  #editor

  a#download-link
  #download-canvas

block js
  script(src='/js/breakfast.js')
