extends ./base

block title
  title Breakfast

block css
  link(href='/css/breakfast.css', rel='stylesheet')

block content
  #editor

  a#download-link
  #img-cache

block js
  script(src='/js/breakfast.js')
