extends ./entry-page

block css
  link(href='/css/index.css', rel='stylesheet')

block content
  .fancy-title
    .directive Welcome to
    .app-name Breakfast

  .subtitle As easy as scrambled eggs, poppin’ like bacon

  .buttons
    a.register-button(href='/register/') Register
    .login
      p Already Registered?
      p
        a(href='/login/') Log In

