doctype html
html
  head
    title Breakfast

    link(href='/css/index.css', rel='stylesheet')
  body
    h1 Welcome to breakfast!

    .buttons
      a(href='/login/') Login
      a(href='/register/') Register
