html
  head
    title Breakfast

    link(href='/css/breakfast.css', rel='stylesheet')
  body(style='background: #eee')
    h1 What's for breakfast?
    #editor

    a#download-link
    canvas
    script(src='/js/dist/breakfast.js')
