extends ./base

block css
    link(href='/css/index.css', rel='stylesheet')

block content
    h1 Welcome to breakfast!

    .buttons
      a(href='/login/') Login
      a(href='/register/') Register
