html
  head
    title Breakfast

    include ./meta

    link(href='/css/breakfast.css', rel='stylesheet')
  body
    #editor

    a#download-link
    #img-cache
    script(src='/js/dist/breakfast.js')
