extends ./entry-page
include ./util/static

block css
  +getCssLink('/css/index.css')
  
block content
  .fancy-title
    .directive Welcome to
    .app-name Breakfast

  .subtitle Easy branded images — simple like scrambled eggs, poppin' like bacon

  .buttons
    a.login-button(href='/login/') Login 

  .extra-info
    .info-block
      .info-title What can you do with Breakfast?
      p With Breakfast, anyone can create branded images no matter your skillset. 
      p See the #[a(href='/gallery/') gallery] of creations from the newsrooms of the USA Today Network.
    .info-block
      .info-title Why Breakfast?
      p This tool was inspired by #[a(href='http://blog.apps.npr.org/lunchbox/') Lunchbox], created by the NPR apps team. It's a built from scratch image creation tool.
