html
  head
    title Breakfast

    link(href='/css/breakfast.css', rel='stylesheet')
  body
    h1 What's for breakfast?
    #editor

    a#download-link
    canvas
    #img-cache
    script(src='/js/dist/breakfast.js')
