extends ./entry-page
include ./util/form

block content
  .fancy-title
    .directive Login to
    .app-name Breakfast

  .login-form
    form(action='/login/', method='POST')
      for field in fields
        +renderInput(field)
      p.register-text Don't have an account? Register #[a(href='/register/') here]
      .submit-container
        input(type='submit', value='Login')

block css
  link(href='/css/login.css', rel='stylesheet')
