extends ./entry-page
include ./util/form
include ./util/static

block content
  .fancy-title
    .directive Login to
    .app-name Breakfast

  .form-container
    form(action='/login/', method='POST')
      for field in fields
        +renderInput(field)
      .submit-container
        input(type='submit', value='Login')
        p.register-text Don't have an account? Register #[a(href='/register/') here]
        p.forgot-password Forgot your password? Reset #[a(href='/password-reset/') here]

block css
  +getCssLink('/css/login.css')
