@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);

.alert.message {
  position:fixed;
  top: 0px;
  padding: 5px;
  width: 75%;
  margin:0 auto;
  left: 12.5%;
  z-index: 1000;
}

.alert.message .message-content{
  position: relative;
  border: 1px solid rgb(214,233,198);
  background-color: rgb(223,240,216);
  border-radius: 3px;
}


.alert.message.hide {
  display: none;
}

.alert.message .inner,.alert.message .close {
  color: rgb(70,136,71);
}

/*.alert.message input:checked ~ * {
  animation-name: dismiss,hide;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0s,100ms;
}*/

.alert.message.animate-me {
  transition: top 250ms ease-out;
  top: -300px;
}

.dismiss-forever{
  color: rgb(70,136,71);
  position: absolute;
  bottom: 5px;
  right: 15px;
}

.alert .cross{
  display: none;
}

.alert .close {
  top: 10px;
  right: 10px;
  position: absolute;
  z-index: 52;
  margin: 3px 12px 0px 0px;
  cursor: pointer;
}

.alert .inner {
  display: block;
  padding: 15px 25px 20px;
  margin: 6px;
  /*border: 1px solid $dark-grey;
  background-color: $grey;*/
}


@keyframes dismiss {
  0% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
    font-size: 0.1px;
    transform: scale(0);
  }
}

@keyframes hide {
  100% {
    height: 0px;
    width: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
}
