
$undo-height: 40px;
$reposition-height: $undo-height;

.undo-container {
  height: $undo-height;
  margin: 0 auto;

  .undo-button {
    width: calc($undo-height);
    color: white;
    display: inline-block;
    float: right;
    margin: 0px 20px;
    cursor: pointer;
    text-align: center;

    img {
      height: 35%;
      margin: 0 auto;
    }

    .text {
      font-size: calc($undo-height * .3);
      line-height: calc($undo-height * .4);
      text-align: center;
    }
  }
}

.reposition-button-container {
  height: $reposition-height;
  margin: 10px auto;

  .reposition-button {
    width: 100%;
    color: white;
    cursor: pointer;

    .image-container {
      display: inline-block;
      float: left;
      margin-right: 20px;

      img {
        height: 75%;
      }
    }

    .text {
      font-size: calc($reposition-height * .4);
      line-height: calc($reposition-height * .75);
      text-align: center;
      display: inline-block;
      float: left;
    }
  }
}
