@import '../constants';

$text-toolbar-screen-sm: 550px;
$text-toolbar-height: 30px;

.DraftEditor-root {
  border: 1px solid $light-blue;
}

.text-overlay {
  position: relative;
}

.text-editor-container {
}

.text-toolbar {
  background-color: black;
  height: $text-toolbar-height;
  position: absolute;
  top: calc($text-toolbar-height * -1.5);
  left: 0;
  min-width: 500px;
  border-radius: calc($text-toolbar-height / 2);
  width: 100%;
  left: 0;
  opacity: 0;
  transition: all 250ms linear;

  @media (max-width: $text-toolbar-screen-sm) {
    min-width: 250px;
    height: calc($text-toolbar-height * 2);
    top: calc($text-toolbar-height * -2.5);
  }

  &:after {
    content: '';
    position: absolute;
    top: $text-toolbar-height;
    left: 10%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid black;
    width: 0;
    height: 0;
  }

  .select {
    border: 0 !important;
  }

  .select-option, .current-selection {
    font-size: 15px;
    height: $text-toolbar-height !important;
    line-height: $text-toolbar-height !important;
    background-color: black !important;
    color: white !important;
    padding: 0 !important;
  }

  .select-option {
    &:hover, &.selected {
      background-color: $dark-grey !important;
    }
  }
  .select-option, .current-selection {
    img {
      height: 50%;
      margin-top: 15%;
    }
  }
}

.style-control {
  font-size: 15px;
  height: $text-toolbar-height;
  line-height: $text-toolbar-height;
  display: inline-block;
  float: left;
  color: white;
  margin: 0px 15px;
  cursor: pointer;
  &, .select, .current-selection {
    border-radius: 15px 0px 0px 15px;
    background-color: black;
  }

  &.active {
    color: $light-blue;
  }

  img {
    height: 40%;
    margin-top: 50%;
  }
}

.block-style-controls {
  display: inline-block;
  float: left;
  &, .select, .current-selection {
    border-radius: 15px 0px 0px 15px;
    background-color: black;
  }
}

.font-picker-container {
  width: 150px;
  height: $text-toolbar-height !important;
  display: inline-block;
  float: left;

  &, .select, .current-selection {
    border-radius: 15px 0px 0px 15px;
    background-color: black;
  }
}

.justify-options {
  width: 50px;
  height: $text-toolbar-height !important;
  display: inline-block;
  float: left;
  &, .select, .current-selection {
    border-radius: 15px 0px 0px 15px;
    background-color: black;
  }
}

.block-style-controls {
  width: 100px;
  &, .select, .current-selection {
    border-radius: 15px 0px 0px 15px;
    background-color: black;
  }

  .select-option, .current-selection{
    img {
      margin-top: 7.5%;
    }
  }
}

.font-color-picker {
  width: $text-toolbar-height;
  height: $text-toolbar-height;
  display: inline-block;
  float: left;
  margin: 0 10px;
  position: relative;
  &, .select, .current-selection {
    border-radius: 15px 0px 0px 15px;
    background-color: black;
  }

  @media (max-width: $text-toolbar-screen-sm) {
    position: initial;
  }

  .color-picker-container {
    width: 250px;
    position: absolute;
    left: -100px;
    top: 120%;
    z-index: 100;

    @media (max-width: $text-toolbar-screen-sm) {
      left: 0;
    }
  }

  .swatch {
    border: 1px solid white;
    cursor: pointer;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 5px;
  }
}

.font-size {
  display: inline-block;
  width: $text-toolbar-height;
  width: $text-toolbar-height;
  position: relative;
  cursor: pointer;

  .font-size-image {
    height: 80%;
    width: 80%;
    margin: 10% auto;
  }

  .font-size-option-container {
    position: absolute;
    margin-top: 10px;
    color: white;
    width: 150%;
    left: -25%;
    background-color: white;
    z-index: 100;

    .font-size-option {
      width: 100%;
      height: $text-toolbar-height;
      line-height: calc($text-toolbar-height * 1.3);
      font-size: calc($text-toolbar-height * 0.7);
      text-align: center;
      cursor: pointer;
      background: $black;
      transition: background 150ms linear;

      &:hover {
        background-color: rgba(0, 0, 0, .6);
      }

      &.decrease {
        transform: rotate(180deg);
      }
    }
  }
}
