@import './fonts';
@import './constants';
@import './components/select';
@import './components/alert';


@define-mixin button $color: $primary-color, $background-color: white {
  background-color: $background-color;
  border: 1px solid $color;
  text-align: center;
  color: $color;
  cursor: pointer;
  transition: $background-color 250ms ease-in, color 250ms ease-in;

  &.active, &:hover {
    background-color: $color;
    color: $background-color;
  }
}

@define-mixin big-button {
  display: block;
  font-size: 26px;
  line-height: 3em;
  padding: 0px 1em;
  border-radius: 100px;
  background-color: transparent;
  text-decoration: none;
  transition: background-color 250ms linear, color 250ms linear;
  border: 1px solid white;
  text-align: center;
  color: white;
  font-family: 'Oswald';
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
  }
}

body {
  font-family: $body-font;
}

*, *:after, *:before {
  box-sizing: border-box;
}


/** Form stuff, for login, register, etc forms */

/** Flash messages */
.flash-messages {
  position: absolute;
  width: 100%;
  top: 20px;
  left: 0;
  z-index: 1000;

  .message {
    width: 75%;
    margin: 0 auto;
    list-style-type: none;
    background-color: grey;
    color: white;
    padding: 30px 10px;
    font-size: 15px;
  }
}
