@import './base';
@import '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';
@import './medium-toolbar';

$body-background: $dark-grey;

$button-font-size: 30px;
$button-line-height: calc($button-font-size * 2);

$canvas-z-index: 10;

$picker-padding: 30px;

@define-mixin close-button {
  color: grey;
  border: 1px solid grey;
  transition: all 250ms ease-in;
  cursor: pointer;

  &:hover {
    color: $body-background;
    background: grey;
  }
}

body {
  font-family: $body-font;
  background: $body-background;
  margin: 0;
}

input[type=text] {
  font-size: 20px;
  line-height: 40px;
  font-family: 'Oswald';
  border: 0;
  border-bottom: 1px solid black;
  margin: 10px 0px;
}

.pic-editor {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;

  .save-container {
  }

  .image-container {
    width: 100%;
    margin-right: 0;
    margin-top: calc($navbar-height * 1.5);
  }

  .options-container {
    width: 100%;
    position: relative;
  }
}

.ratio-picker {
  width: 100%;
  text-align: center;
  margin: 10px 0px;

  .ratio-option {
    display: inline-block;
    margin: 10px 10px;
    cursor: pointer;
    opacity: .5;

    .ratio-example {
      background-color: transparent;
      border-radius: 5px;
      border: 1px solid $grey;
      transition: background 250ms linear;
      margin: 0 auto;
    }

    .ratio-name {
      color: $grey;
      text-align: center;
      width: 100%;
      text-transform: capitalize;
      font-family: 'Oswald';
      font-weight: light;
      transition: color 250ms linear;
    }

    &.active {
      opacity: 1;

      .ratio-example {
        background-color: $grey;
      }

      .ratio-name {
        color: white;
      }
    }
  }
}

.image {
  margin: 0 auto;
  position: relative;
  /*overflow: hidden;*/

  &:hover, &:active, &:focus {
    .move-text {
      opacity: 1 !important;
    }

    #text-overlay {
      border: 2px solid #168eea !important;
    }
  }

  canvas {
    border: 1px solid black;
    z-index: $canvas-z-index;
  }

  .text-overlay-container {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;

    #text-overlay {
      opacity: 0;
      position: absolute;
      min-height: 50%;
      max-height: 100%;
      z-index: calc($canvas-z-index + 1);
      padding: 3px;
      border: 2px solid transparent;
      transition: opacity 250ms linear, border 250ms linear;
      outline: none;

      &[data-medium-focused=true] {
        border: 2px solid #168eea;
      }

      p, h1, h2, h3, h4, h5, ul, ol, li {
        margin-top: 0;
      }

      hr {
        display: none;
      }
    }

    &.initialized {
      #text-overlay {
        opacity: 1;
      }
    }

    .move-text {
      position: absolute;
      top: 20px;
      left: -20px;
      width: 40px;
      height: 40px;
      font-size: 25px;
      text-align: center;
      cursor: move;
      opacity: 0;
      color: white;
      background: $black;
      transition: opacity 150ms linear;

      .fa {
        line-height: 40px;
      }
    }
  }
}

.logo-options-container, .background-options-container, .save-container {
  @media (max-width: $screen-sm) {
    width: 100% !important;
    margin: 20px 0px;
  }

  .title {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    text-transform: capitalize;
  }
}

.logo-options-container {
  width: 30%;
  padding: 20px;
  display: inline-block;
  float: left;
  position: relative;

  .logo-select-container {
    width: 100%;
    margin: 10px 0px;

    .select {
      width: 75%;
      margin: 0 auto;
    }
  }

  .corner-picker-container {
    width: 100%;
    height: 80px;
    margin: 10px 0px;

    .corner-picker {
      width: 75%;
      margin: 0 auto;
    }
  }
}

.background-options-container {
  width: 40%;
  padding: 20px;
  display: inline-block;
  float: left;
  position: relative;

  .background-option {
    width: 50%;
    display: inline-block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;

    &.active {
      .checkbox {
        opacity: 1 !important;
      }
    }

    .checkbox {
      opacity: .1;
      background-color: white;
      color: $black;
      transition: opacity 250ms linear;
      width: 25px;
      height: 25px;
      margin: 0 auto;

      .fa {
        line-height: 25px;
      }
    }

    .picker {
      margin-bottom: 20px;

      &:after {
        color: white;
        font-size: 10px;
        line-height: 15px;
        left: 0;
        position: absolute;
        width: 100%;
        text-align: center;
      }
    }

    #image-upload-button, .background-image, .color-picker {
      width: 75px;
      height: 75px;
      margin: 0 auto;
      position: relative;

      img {
        width: 100%;
        min-height: 50%;
      }
    }

    &.image {

      .picker:after {
        content: 'Upload Image';
      }

      input[type=file] {
        display: none;
      }

      .remove-image {
        position: absolute;
        right: -30px;
        top: -30px;
        height: 45px;
        width: 45px;
        cursor: pointer;
        color: white;
        text-align: center;

        .fa {
          font-size: 45px;
          line-height: 45px;
        }
      }
    }

    &.color {
      .picker:after {
        content: 'Choose color';
      }

      .color-picker {
        .swatch {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

/** Text input stuff **/
.inputs {
  width: 100%;

  input {
    width: 100%;
    margin: 10px auto;
  }

}

.select {
  width: 100%;
}

.save-container {
  width: 30%;
  display: inline-block;
  position: relative;
  padding: 20px;

  input {
    width: 100%;
    background: transparent;
    color: white;
    border: 0;
    border-bottom: 1px solid white;
    text-align: center;
  }

  .save-image {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  .save-image:after {
    content: 'File Name';
    position: absolute;
    top: -20px;
    height: 20px;
    line-height: 20px;
    left: 0%;
    font-size: 10px;
    color: white;
  }

  .save-image {
    margin: 10px 0px;
    @mixin big-button;

    img {
      transform: rotate(180deg);
      height: 50px;
      position: absolute;
      right: 0;
      top: 0;
    }

    &.downloading {
      opacity: .5;
      cursor: default;
    }
  }
}

/** Corner picker */
.corner-picker {
  display: block;
  width: 80%;
  height: 100%;
  margin: 0 auto;

  .corner {
    width: 50%;
    height: 50%;
    display: inline-block;
    background-color: white;
    opacity: .5;
    transition: opacity 250ms linear;
    cursor: pointer;
    border: 1px solid black;

    &.active, &:hover {
      opacity: 1;
    }
  }
}

.current-selection {
  border: 1px solid black;
}

/** Color Picker */

.picker-container {
  position: absolute;
  padding: $picker-padding;
  z-index: 1000;
  left: -100%;
  bottom: 0;

  .picker-close {
    @mixin close-button;
    position: absolute;
    top: 0;
    right: 0;
    line-height: $picker-padding;
    font-size: calc($picker-padding * .5);
    color: white;
    padding: 5px;
  }
}

#download-canvas {
  display: none;
}
