@import './base';
@import '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';
@import './containers/options-menu';
@import './containers/text-editor';
@import './containers/editing-canvas';
@import './containers/background-position';
@import './containers/profile';
@import './components/navbar';
@import './constants';

@define-mixin close-button {
  color: grey;
  border: 1px solid grey;
  transition: all 250ms ease-in;
  cursor: pointer;

  &:hover {
    color: $body-background;
    background: grey;
  }
}

body {
  font-family: $body-font;
  background: $body-background;
  margin: 0;

}

#feedback {
  text-decoration: none;
  color: $grey;
  border: 1px solid $dark-grey;
  background-color: $black;
  padding: 0px 15px;
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 12px;
  line-height: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  box-shadow: 0 0 .5em black;
  transition: box-shadow 150ms linear;

  &:hover {
    box-shadow: 0 0 .75em black;
  }
}

input[type=text] {
  font-size: 20px;
  line-height: 40px;
  font-family: 'Oswald';
  border: 0;
  border-bottom: 1px solid black;
  margin: 10px 0px;
}

.pic-editor {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  padding-left: 35%;
  padding-top: calc($navbar-height * 3);
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;

  @media (max-width: $screen-sm) {
    padding-top: calc($navbar-height * 1.5);
    padding-left: 75px;
  }

  .breakfast-image-container {
    width: 100%;
    margin-right: 0;
    /*overflow: hidden;*/
  }

  .options-container {
    width: 100%;
    position: relative;
  }
}


.image {
  margin: 0 auto;
  position: relative;

  &:hover, &:active, &:focus {
    #text-overlay {
      border: 2px solid #168eea !important;
    }
  }

  canvas {
    transform: scale(.5);  /* Taking a trick from lunchbox */
    transform-origin: top left;
    /*border: 1px solid black;*/
    z-index: $canvas-z-index;
  }

  .text-overlay-container {
    position: absolute;
    width: 100%;
    z-index: calc($canvas-z-index + 1);

    &:hover, &:active, &:focus {
      .move-text, .text-width-change, .text-toolbar {
        opacity: 1 !important;
      }
    }

    .move-text, .text-width-change{
      position: absolute;
      width: 40px;
      height: 40px;
      font-size: 25px;
      text-align: center;
      opacity: 0;
      color: white;
      background: $black;
      transition: opacity 150ms linear;
      border-radius: 50%;

      .fa {
        line-height: 40px;
      }
    }

    .move-text {
      cursor: move;
    }

    .text-width-change {
      cursor: ew-resize;
    }
  }
}


/** Text input stuff **/
.inputs {
  width: 100%;

  input {
    width: 100%;
    margin: 10px auto;
  }

}

.select {
  width: 100%;
}

/** Corner picker */
.corner-picker {
  display: block;
  width: 80%;
  height: 100px;
  margin: 0 auto;

  .corner {
    width: 50%;
    height: 50%;
    display: inline-block;
    background-color: $grey;
    transition: border 250ms linear;
    cursor: pointer;
    border: 1px solid $black;
    text-align: center;
    border: 2px solid white;
    line-height: 50px;

    &.active, &:hover {
      border: 2px solid $dark-blue;
    }
  }
}

.current-selection {
  border: 1px solid black;
}

/** Color Picker */

.picker-container {
  position: absolute;
  z-index: 1000;
  left: -75%;
  top: 0;

  .picker-close {
    @mixin close-button;
    position: absolute;
    top: 0;
    right: 0;
    line-height: $picker-padding;
    font-size: calc($picker-padding * .5);
    color: white;
    padding: 5px;
  }
}

#download-canvas {
  display: none;
}

.color-picker {
  width: 100%;
  margin: 20px 0px;
  position: relative;

  &:before {
    font-size: 10px;
    position: absolute;
    top: -10px;
    left: 15px;
  }

  &.logo:before {
    content: 'Logo Color';
    color: black;
  }

  &.attribution:before {
    content: 'Attribution Color';
    color: black;
  }

  .no-color {
    width: 80%;
    margin: 0 auto;
    font-size: 10px;
    text-align: center;

    a {
      text-decoration: underline;
      color: $dark-blue !important;
    }
  }

  .color-options {
    width: 100%;
    height: 75px;

    .color-container {
      width: 50%;
      display: inline-block;
      float: left;
    }

    .color {
      height: 50px;
      width: 50px;
      margin: 10px auto;
      cursor: pointer;
      border: 2px solid $grey;

      &.active {
        border: 2px solid $light-blue;
      }

      &.black {
        background-color: black;
      }

      &.white {
        background-color: white;
      }
    }
  }
}
