@import './base';

$body-background: white;

$button-font-size: 30px;
$button-line-height: calc($button-font-size * 2);

$picker-padding: 30px;


@define-mixin close-button {
  color: grey;
  border: 1px solid grey;
  transition: all 250ms ease-in;
  cursor: pointer;

  &:hover {
    color: $body-background;
    background: grey;
  }
}

@define-mixin picker-open {
  width: 50%;
  @mixin button grey;
  margin: 0 auto;
  font-size: 15px;
  line-height: 30px;
  height: 100%;
  padding: 10px;
}

body {
  font-family: $body-font;
  background: $body-background;
}

.pic-editor {
  width: 95%;
  margin: 0 auto;
  display: block;
  position: relative;

  .save-container {
  }
  .image-container {
    width: 70%;
    float: left;
    display: inline-block;
    margin-right: 0;
  }
  .options-container {
    width: 30%;
    float: left;
    display: inline-block;
    position: relative;

  }

  @media (max-width: $screen-sm) {
    .image-container, .options-container {
      width: 100%;
    }
  }
}

.image {
  height: 650px;
  width: 650px;
  margin: 0 auto;

  canvas {
    border: 1px solid black;
  }
}

.list-inputs {
  .list-input {
    width: 100%;
    display: block;
    position: relative;

    input {
      width: 90%;
      display: inline-block;
    }

    .remove-list-item {
      width: 10%;
      display: inline-block;
      @mixin close-button;
      line-height: $input-line-height;
      text-align: center;
      height: calc($input-line-height + 1px);
      margin: 10px 0;
    }
  }

  .add-item {
    font-size: 20px;
    line-height: 40px;
    width: 50%;
    background: $primary-color;
    text-align: center;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px auto;
    transition: all 250ms ease-in;

    &:hover {
      background: color($primary-color a(90%));
    }
  }
}

.section-title {
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  margin: 10px 0px;
  color: grey;
  text-transform: uppercase;
}

.input-title {
  text-transform: uppercase;
  color: $primary-color;
  font-size: 15px;
  line-height: 30px;
}

/** Text input stuff **/
.inputs {
  width: 100%;

  input {
    width: 100%;
    margin: 10px auto;
  }

}


/** Control Stuff **/
.options {
  width: 100%;

  .option-select-container {
    width: 100%;

    .option-select {
      @mixin button grey;
      font-size: 20px;
      line-height: 30px;
      display: inline-block;
      width: 40%;
      margin: 10px 5%;
      text-transform: capitalize;

      @media (min-width: $screen-sm) and (max-width: 1050px) {
        width: 80%;
        margin: 10px 10%;
      }
    }
  }

  .option {
    display: block;
    width: 100%;

    &.background {
      #image-upload {
        display: none;
      }
    }

  }
}

.input-container {
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  margin: 5px 0px;
  height: 50px;

  &.hidden {
    display: none;
  }

  .label {
    display: inline-block;
    width: 25%;
    text-align: center;

  }

  .input {
    width: 75%;
    display: inline-block;
    text-align: center;

    & > input {
      width: 100%;
    }

    .help-text {
      font-size: 10px;
      line-height: 15px;
      text-align: center;
    }
  }

}

.picker {
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center;

  .picker-open {
    @mixin picker-open;
  }

  .picker-container {
    position: absolute;
    background: grey;
    padding: $picker-padding;
    z-index: 1000;
    top: -50px;
    box-shadow: 0 0 .35em black;

    &.hide {
      display: none;
    }

    .picker-close {
      @mixin close-button;
      position: absolute;
      top: 0;
      right: 0;
      line-height: $picker-padding;
      font-size: calc($picker-padding * .5);
      color: white;
      padding: 5px;
    }
  }
}

.file-upload {
  @mixin picker-open;
}

.ratio-options {
  width: 100%;

  .aspect-ratio {
    @mixin button grey;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
  }
}

.select {
  width: 100%;
}

.save-container {
  width: 80%;
  position: relative;
  margin: 10px auto;

  input, .save-image {
    width: 45%;
    margin: 0 2%;
    display: inline-block;
    float: left;
    text-align: center;
    position: relative;
  }

  .save-image:after {
    content: "File Name";
    position: absolute;
    bottom: -20px;
    opacity: .5;
    left: -25%;
    font-size: 10px;
    color: black;
  }

  .save-image {
    background: $primary-color;
    color: white;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin: 10px 0px;
    transition: all 250ms ease-in;
    cursor: pointer;

    &:hover {
      background: color($primary-color a(110%));
    }
  }
}

/** Corner picker */
.corner-picker {
  display: block;
  width: 80%;
  height: 100%;
  margin: 0 auto;

  .corner {
    width: 50%;
    height: 50%;
    display: inline-block;
    background-color: grey;
    opacity: .5;
    transition: opacity 250ms linear;
    cursor: pointer;
    border: 1px solid black;

    &.active, &:hover {
      opacity: 1;
    }
  }
}
