$primary-color: black;
$black: #050505;
$grey: #e4e4e4;
$darker-grey: #d8d8d8;
$dark-grey: #4a4a4a;

$blue: #168eea;
$dark-blue: #4a90e2;
$red: #ff0000;
$green: #7ed321;

$body-background: white;
/*$body-font: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;*/
$body-font: "Futura Today";

$input-font-size: 20px;
$input-line-height: calc($input-font-size * 2);

$navbar-height: 50px;

$screen-md: 992px;
$screen-sm: 768px;

$body-background: $dark-grey;

$button-font-size: 30px;
$button-line-height: calc($button-font-size * 2);

$canvas-z-index: 10;

$picker-padding: 30px;
