@import 'base';
@import 'entry-page';

body {
  background-position: 0 0;
  background-size: contain;
  background-color: #1f1f1f;
}

.buttons {
  width: 100%;
  margin-top: 60px;

  .register-button {
    @mixin big-button;
    width: 200px;
    margin: 0 auto;
  }

  p {
    color: white;
    text-align: center;
    a {
      color: white;
      text-decoration: underline;
    }
  }
}

.gallery-container {
  width: 100vw;
  background-color: #1f1f1f;
}

.gallery-section {
  width: 90%;
  margin: 5vh auto;
  padding-top: 5vh;

  .section-title {
    text-align: center;
    color: white;
    font-size: 4vh;
    line-height: 5vh;
    height: 5vh;
    text-transform: capitalize;
  }

  .section-explainer {
    text-align: center;
    color: white;
  }
}

.section-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-image-container {
  /*width: 30vw;
  max-height: 30vh;*/
  padding: 2%;
  overflow: hidden;

  img {
    height: 100%;
    opacity: 0;
    transition: opacity 150ms linear;
  }
}
