@import 'base';
@import 'entry-page';

body {
  background-position: 0 0;
  background-size: contain;
  background-color: #1f1f1f;
}

.buttons {
  width: 100%;
  margin-top: 60px;

  .register-button {
    @mixin big-button;
    width: 200px;
    margin: 0 auto;
  }

  p {
    color: white;
    text-align: center;
    a {
      color: white;
      text-decoration: underline;
    }
  }
}

.gallery-container {
  width: 100vw;
  padding-top: 4vh;
  background-color: #1f1f1f;
  font-family: 'Oswald';

  h1 {
    text-align: center;
    color: white;
  }
}

.section-tab-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  @media (max-width: $screen-sm) {
    flex-direction: column;
  }
}

.section-tab {
  border-radius: 5px 5px 0px 0px;
  width: 20%;
  font-size: 3vh;
  height: 4vh;
  line-height: 4vh;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  text-align: center;
  opacity: .5;
  font-family: 'Playfair Display';
  transition: all 250ms linear;

  @media (max-width: $screen-sm) {
    width: 100%;
  }

  &.active, &:hover {
    color: #1f1f1f;
    background: white;
    opacity: 1;
  }
}

.gallery-section {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5vh;
  padding-top: 5vh;
  min-height: 50vh;

  .section-title {
    text-align: center;
    color: white;
    font-size: 4vh;
    line-height: 5vh;
    height: 5vh;
    text-transform: capitalize;
  }

  .section-explainer {
    text-align: center;
    color: white;
    font-size: 3vh;
  }
}

.section-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-image-container {
  /*width: 30vw;
  max-height: 30vh;*/
  padding: 2%;
  overflow: hidden;

  img {
    height: 100%;
    opacity: 0;
    transition: opacity 150ms linear;
  }
}
