@import './base';
@import './entry-page';

.buttons {
  width: 100%;
  margin-top: 60px;

  .register-button {
    @mixin big-button;
    width: 200px;
    margin: 0 auto;
  }

  p {
    color: white;
    text-align: center;
    a {
      color: white;
      text-decoration: underline;
    }
  }
}
