@import './base';
@import './entry-page';

.buttons {
  width: 100%;
  margin-top: 60px;

  .login-button {
    @mixin big-button;
    width: 200px;
    margin: 0 auto;
  }

  a {
    display: block;
    margin: 0 auto;
    color: white;
    text-decoration: underline;
    font-size: 25px;
  }

}

p {
  color: white;
  text-align: center;

  a {
    color: white;
    text-decoration: underline;
  }

}


.extra-info {
  width: 100%;
  padding: 0% 10%;

  .info-block {
    display: inline-block;
    width: 50%;
    padding: 20px;
    text-align: center;
    float: left;

    @media (max-width: $screen-sm) {
      width: 100%;
    }

    .info-title {
      font-family: 'Oswald';
      color: white;
      font-size: 30px;
      line-height: 1.3em;
      font-weight: bold;
    }

    p {
      font-family: 'Playfair';
    }
  }
}
