@import './base';
@import './entry-page';

.login-form {
  width: 75%;
  margin: 0 auto;

  @media (max-width: $screen-sm) {
    width: 100%;
  }
}

form {
  input[type=submit] {
    @mixin big-button;
  }
}

.submit-container {
  width: 100%;
  input {
    margin: 0 auto;
  }
}

.register-text {
  text-align: center;
  color: white;

  a {
    color: white;
  }
}
