@import './base';
@import '../../node_modules/medium-editor/dist/css/medium-editor.min.css';
@import '../../node_modules/medium-editor/dist/css/themes/beagle.min.css';

.medium-editor-action-fontface {
  border-left: 1px solid #ccc !important;
}

.medium-editor-toolbar-form {

  &.color-picker {
    padding: 20px;

    &:before {
      content: "Font Color";
      position: absolute;
      color: white;
      top: 2%;
      left: 2%;
      font-size: 12px;
    }

    &.black {
      .font-color-option.black {
        border: 2px solid #168eea;
      }
    }

    &.white {
      .font-color-option.white {
        border: 2px solid #168eea;
      }
    }

    .font-color-option {
      height: 30px;
      width: 30px;
      display: inline-block;
      margin: 0px 10px;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid white;

      &.black {
        background-color: black;
      }

      &.white {
        background-color: white;
      }
    }
  }

  select {
    background: transparent;
    color: white;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
  }

  .medium-editor-toolbar-input-range {
    height: 40px;
    padding-left: 16px;
    width: 220px;
    background: #000;
    position: relative;

    &:after {
      color: white;
      position: absolute;
      font-size: 12px;
      top: 0%;
      left: 2%;
      font-family: $body-font;
    }

    &#font-size:after {
      content: "Font Size";
    }

    &#text-width:after {
      content: 'Text Box Width';
    }
  }
}