@import './base';

.medium-editor-action-fontface {
  border-left: 1px solid #ccc !important;
}

.medium-editor-toolbar-form {
  select {
    background: transparent;
    color: white;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
  }

  .medium-editor-toolbar-input-range {
    height: 40px;
    padding-left: 16px;
    width: 220px;
    background: #000;
    position: relative;

      &#font-size {
        &:after {
          content: "Font Size";
          color: white;
          position: absolute;
          font-size: 12px;
          top: 0%;
          left: 10%;
          font-family: $body-font;
        }
      }
  }
}