@import './base';
@import './entry-page';

.register-form-container {
  width: 75%;
  margin: 0 auto;

  @media (max-width: $screen-sm) {
    width: 100%;
  }
}

form {
  width: 100%;
  text-align: center;


  .form-field.username, #domains {
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
  }

  input[type=submit] {
    @mixin big-button;
    width: 200px;
  }

  input[type=text] {
    width: 100% !important;
    text-align: left;
    padding-left: 10%;
    padding-top: 1px !important;
  }

  @media (max-width: $screen-sm) {
    .form-field, input, #domains {
      width: 100% !important;
      float: none;
    }
  }
}

.form-field {
  display: inline-block;
  float: left;

  label {
    display: none;
  }
}

#domains {
  display: inline-block;
}

.blurbs {
  color: white;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;

  a {
    color: white;
  }
}
