extends ../entry-page
include ../util/form
include ../util/static

block content
  .fancy-title
    .directive Reset Password
    .app-name Breakfast

    .blurbs
      p Reset your password below

    .form-container
      form.password-reset-form(action='/password-reset/#{ token }/', method='POST')
        for field in fields
          +renderInput(field)

        .submit
          input(type='submit', value='Reset', id='submit')
          #success-text

block js
  +getScript('/js/password-reset.js')

block css
  +getCssLink('/css/entry-page.css')
