extends ../entry-page
include ../util/form

block content
  .fancy-title
    .directive Reset Password
    .app-name Breakfast

    .blurbs
      p Reset your password below

    .password-reset-form-container
      form.password-reset-form(action='/password-reset/#{ token }/', method='POST')
        for field in fields
          +renderInput(field)

        .submit
          input(type='submit', value='Reset', id='submit')
          #success-text

block js
  script(src='/js/password-reset.js')

block css
  link(href='/css/entry-page.css', rel='stylesheet')
