@import './fonts';
@import 'bourbon';
@import 'neat';

$primary-color: black;

$body-background: white;
$body-font: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;

$input-font-size: 20px;
$input-line-height: $input-font-size * 2;

$navbar-height: 50px;

$screen-md: 992px;
$screen-sm: 768px;

body {
  font-family: $body-font;
  margin-top: $navbar-height * 2/1;
}

*, *:after, *:before {
  box-sizing: border-box;
}

#navbar {
  background-color: $primary-color;
  color: white;
  position: fixed;
  height: $navbar-height;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .user {
    float: right;
    width: 100%;

    @media (min-width: $screen-md) {
      width: 25%;
    }

    .email, a {
      padding: 0px 10px;
      display: inline-block;
      float: right;
      line-height: $navbar-height;
    }

    a {
      text-decoration: underline;
      color: white;
    }
  }
}

@mixin button($color: $primary-color, $background-color: white) {
  background-color: $background-color;
  border: 1px solid $color;
  text-align: center;
  color: $color;
  cursor: pointer;
  @include transition(background-color 250ms ease-in, color 250ms ease-in);

  &.active, &:hover {
    background-color: $color;
    color: $background-color;
  }
}

input[type=text], input[type=password] {
  background-color: $body-background;
  border: none;
  border-bottom: 1px solid grey;
  outline: 0;
  font-size: $input-font-size;
  line-height: $input-line-height;
  margin-right: 10px;
  padding: 0;
}

input[type=submit] {
  background-color: white;
  font-size: $input-font-size;
  line-height: $input-line-height;
  text-align: center;
  background-color: $primary-color;
  color: white;
  border: 1px solid $primary-color;
  cursor: pointer;
  @include transition(background-color 250ms ease-in, color 250ms ease-in);

  &.active, &:hover {
    background-color: darken($primary-color, 15%);
  }
}

/** Form stuff, for login, register, etc forms */
.form-field {
  font-family: $body-font;
  width: 100%;
  margin-bottom: 10px;

  &.hidden {
    display: none;
  }

  &.error {
    input[type=text], input[type=password] {
      border: 1px solid grey;
    }
  }

  input {
    width: 50%;
    display: inline-block;
  }

  label {
    text-transform: capitalize;
    margin-right: 10px;
    width: 30%;
    text-align: right;
    display: inline-block;
  }

  .errors {
    color: grey;
  }
}

.select {
  width: 100%;
  position: relative;
  border: 1px solid grey;

  &.show {
    .current-selection {
      &:after {
        @include transform(rotate(0deg));
      }
    }
  }

  &.content-type-select {
    text-transform: capitalize;
  }

  .current-selection, .select-option {
    img {
      max-width: 80%;
      height: 100%;
    }
  }

  .current-selection {
    width: 100%;
    text-align: center;
    font-size: $input-font-size;
    line-height: $input-line-height;
    color: grey;
    cursor: pointer;
    height: 40px;

    &:after {
      content: '^';
      position: absolute;
      right: 3%;
      @include transform(rotate(180deg));
      @include transition(all 250ms linear);
      font-family: $body-font;
    }
  }

  .select-options {
    width: 100%;
    position: absolute;
    text-align: center;
    max-height: 30px * 5; // 5 max height;
    overflow-y: auto;
    margin-top: 10px;
    background: white;
    border: 1px solid grey;
    z-index: 1000;

    .select-option {
      font-size: $input-font-size * .75;
      line-height: $input-line-height * .75;
      color: grey;
      @include transition(all 250ms ease-in);
      cursor: pointer;
      background: inherit;
      height: 30px;

      &:hover, &.selected {
        background: grey;
        color: white;
      }
    }
  }
}

/** Flash messages */
.flash-messages {
  position: relative;
  width: 100%;

  .message {
    width: 75%;
    margin: 0 auto;
    list-style-type: none;
    background-color: grey;
    color: white;
    padding: 30px 10px;
    font-size: 15px;
  }
}
