@import './base';

$body-background: white;

$button-font-size: 30px;
$button-line-height: $button-font-size * 2;

$picker-padding: 30px;


@mixin close-button() {
  color: grey;
  @include transition(all 250ms ease-in);
  cursor: pointer;

  &:hover {
    color: $body-background;
    background: grey;
  }
}

@mixin picker-open() {
  width: 50%;
  @include button(grey);
  margin: 0 auto;
  font-size: 15px;
  line-height: 30px;
  height: 100%;
  padding: 10px;
}

body {
  font-family: $body-font;
  background: $body-background;
}

.pic-editor {
  width: 95%;
  margin: 0 auto;
  display: block;
  position: relative;

  .image-container {
    @include span-columns(8);
    margin-right: 0;
  }
  .options-container {
    @include span-columns(4);
    position: relative;

  }

  @media (max-width: $screen-sm) {
    .image-container, .options-container {
      @include span-columns(12);
    }
  }
}

.content-type-selector {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2%;
  height: $button-line-height;

  .content-type {
    @include span-columns(4);
    @include button($primary-color);
    font-size: $button-font-size;
    line-height: $button-line-height;
    text-transform: uppercase;

    @media (max-width: $screen-sm) {
      font-size: $button-font-size * .5;
      line-height: $button-line-height * .5;

    }

    &.active {
      @include button($primary-color)
    }
  }
}

.image {
  height: 650px;
  width: 650px;
  margin: 0 auto;

  canvas {
    border: 1px solid black;
  }
}

.list-inputs {
  .list-input {
    @include outer-container;

    input {
      @include span-columns(11);
    }

    .remove-list-item {
      @include span-columns(1);
      @include close-button();
      line-height: $input-line-height;
      text-align: center;
      height: $input-line-height;
      margin: 10px 0;
    }
  }

  .add-item {
    font-size: 20px;
    line-height: 40px;
    width: 50%;
    background: $primary-color;
    text-align: center;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px auto;
    @include transition(all 250ms ease-in);

    &:hover {
      background: darken($primary-color, 20%);
    }
  }
}

.section-title {
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  margin: 10px 0px;
  color: grey;
  text-transform: uppercase;
}

.input-title {
  text-transform: uppercase;
  color: $primary-color;
  font-size: 15px;
  line-height: 30px;
}

/** Text input stuff **/
.inputs {
  width: 100%;

  input {
    width: 100%;
    margin: 10px auto;
  }

}


/** Control Stuff **/
.options {
  width: 100%;

  .option-select-container {
    width: 100%;

    .option-select {
      @include button(grey);
      font-size: 20px;
      line-height: 30px;
      display: inline-block;
      width: 40%;
      margin: 10px 5%;
      text-transform: capitalize;

      @media (min-width: $screen-sm) and (max-width: 1050px) {
        width: 80%;
        margin: 10px 10%;
      }
    }
  }

  .option {
    display: block;
    width: 100%;

    &.background {
      #image-upload {
        display: none;
      }
    }

  }
}

.input-container {
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  margin: 5px 0px;
  height: 50px;

  &.hidden {
    display: none;
  }

  .label {
    display: inline-block;
    @include span-columns(3);
    text-align: center;

  }

  .input {
    @include span-columns(9);
    display: inline-block;
    text-align: center;

    & > input {
      width: 100%;
    }

    .help-text {
      font-size: 10px;
      line-height: 15px;
      text-align: center;
    }
  }

}

.input-container.image-url-background {

  input {
    @include span-columns(7);
    margin-right: 0;
    border: 0;
    border-bottom: 1px solid grey;
    font-size: inherit;
    line-height: inherit;
    outline: none;
  }

  .get-image-url {
    @include span-columns(5);
    @include button($primary-color);
    margin-left: 0;
  }
}

.picker {
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center;

  .picker-open {
    @include picker-open();
  }

  .picker-container {
    position: absolute;
    background: grey;
    padding: $picker-padding;
    z-index: 1000;
    top: -50px;
    box-shadow: 0 0 .35em black;

    &.hide {
      display: none;
    }

    .picker-close {
      @include close-button();
      position: absolute;
      top: 0;
      right: 0;
      line-height: $picker-padding;
      font-size: $picker-padding * .5;
      color: white;
      padding: 5px;
    }
  }
}

.file-upload {
  @include picker-open();
}

.ratio-options {
  width: 100%;

  .aspect-ratio {
    @include button(grey);
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
  }
}

.select {
  width: 100%;
}

.save {
  margin-top: 30px;
}
.save-image {
  background: $primary-color;
  color: white;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  width: 100%;
  margin: 10px 0px;
  @include transition(all 250ms ease-in);
  cursor: pointer;

  &:hover {
    background: darken($primary-color, 10%);
  }
}

/** Corner picker */
.corner-picker {
  display: block;
  width: 80%;
  height: 100%;
  margin: 0 auto;

  .corner {
    width: 50%;
    height: 50%;
    display: inline-block;
    background-color: grey;
    opacity: .5;
    transition: opacity 250ms linear;
    cursor: pointer;
    border: 1px solid black;

    &.active, &:hover {
      opacity: 1;
    }
  }
}
